@import "./colors/everforest-light.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: @fg;
  color: @bg0;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: .5s;
}

#custom-launcher,
#clock,
#clock-date,
#workspaces,
#pulseaudio,
#network,
#battery,
#custom-powermenu {
  background-color: @bg0;
  color: @fg;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
  border-radius: 10px;

  margin-left: 7px;
  margin-right: 7px;
}

#tray {
  margin-right: 12px;
}

#clock {
  margin-left: 20px;
}

#pulseaudio {
  min-width: 90px;
  margin-right: 20px;
}

#workspaces {
  padding: 0px;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;

  border-radius: 10px;

  margin-bottom: -5px;

  border-bottom-width: 5px;
  border-bottom-color: #366660;
  border-bottom-style: solid;
}

#custom-launcher {
  background-color: @green;
  color: @bg0;
  border-bottom-color: #556a35;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 21px;
}

#custom-powermenu {
  background-color: @red;
  color: @bg0;
  border-bottom-color: #951c1f;

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 23px;
}
